*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background: linear-gradient(yellow, white, pink);
    padding-bottom: 2rem;
}

.heading {
    padding-block: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin-top: 0;
    position: relative;
}

.heading::before {
    content: "";
    width: 200px;
    height: 4px;
    background-color: rgb(255, 166, 0);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-container {
    max-width: 800px;
    margin-inline: auto;
    margin-block: 4rem;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.testimonial {
    width: 80%;
    margin-inline: auto;
    margin-block: 4rem;
    padding-block: 1rem;
    padding-inline: 2rem;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    border: 1px solid yellow;
    border-radius: 40px;

    position: relative;
}

.testimonial::before, .testimonial::after {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: grey;
    z-index: 1;
    color: white;
    font-size: 4rem;
}

.testimonial::before {
    content: "\201C";
    top: -8%;
    left: 10%;
}

.testimonial::after {
    content: "\201D";
    bottom: -8%;
    right: 10%;
}

.testimonial__image-container {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid yellow;

    position: absolute;
    top: -24%;
}

.testimonial__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.testimonial__content {
    max-width: 80ch;
    max-height: 4.5em;
    flex-basis: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    text-align: center;
    margin-top: 50px;
}

.testimonial__content, .testimonial__details {
    font-weight: 500;
}

.testimonial__details {
    align-self: flex-start;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.testimonial__name {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}